PORT=3000

POSTGRES_DB=nest_project
POSTGRES_USER=nest
POSTGRES_PASSWORD=nest
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=nest
DATABASE_PASSWORD=nest
DATABASE_NAME=nest_project
DATABASE_URL=postgresql://nest:nest@127.0.0.1:5432/nest_project

REDIS_URL=redis://127.0.0.1:6379

JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=2592000
